.top {
    width: 100%;
    top: 15px;
    margin: 0 0 5px 0;
}

.search {
    border-radius: 2px;
    border: inset;
    border-color: #cd1919;
    width: 100%;
    top: 15px;
    /* font-weight: 900px; */
    letter-spacing: -1px;
    font-size: 1.5rem;
    text-align: center;
}

.map {
    color: blue;
    margin-top: 0px;
    height: 700px;
    width: 100%;
}

.topbar {
    height: 15px;
    padding: 1rem;
    color: white;
    background: teal;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SIDEBAR */
.sidenav {
    border: solid 3px;
    border-radius: 3px;
    border-color: #c4c6c8;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #e9ecef;
    overflow-x: hidden;
    transition: 0.5s;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: -25px;
    left: -80px;
    font-size: 50px;
    margin-left: 50px;
}

#chargeTp {
    font-size: 20px;
    background-color: #F7FBFE;
    text-align: center;
}

#speed {
    /* margin: 5px;
    border: solid 0.1px; */
    border-radius: 3px;


}

#slow {
    /* border: solid 0.1px; */
    border-radius: 3px;

}

#chargebox {
    border: solid 0.1px #818181;
    width: 100%;

}

input:focus {
    outline: none;
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

#searchbox {
    margin-top: 7px;
    margin-left: 7px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
    border: solid 0.2px none;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 2;
    width: 200px;
    height: 30px;
    display: inline;
    position: absolute;
}

#searchbutton {
    margin-top: 3px;
    height: 28px;
    display: inline;
    position: absolute;
    z-index: 2;
    text-align: right;
}

ul {

    padding-left: 0px;
    list-style-type: none;
    display: flex;
}

li {
    list-style-type: none;
    padding: 14px;
    border-radius: 15px;
    border: 1px solid;
    width: 170.4px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 3%);
    display: flex;
    border-color: #3ba1ff;
    text-align: center;
    margin: 5px;
    flex-direction: column;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}